body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  cursor: pointer;
}

.img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 230px;
  border-radius: 50%;
  /* transition: 2.5s linear; */
}

.c1,
.c {
  height: 400px;
  width: 250px;
  border: 6px solid red;
  position: relative;
  border-radius: 50%;
  transition: 2.5s linear;
}

.c1 {
  top: 18px;
  left: 94px;
  /* opacity: 0; */
}

.c {
  bottom: 6px;
  right: 6px;
}

.c:hover {
  transform: rotate(18deg);
}

.c1:hover {
  animation: spin 1s infinite linear;
  opacity: 1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
